.main-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    position: relative;
}

.form-container {
    z-index: 1;
    border: 1px solid black;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    border-radius: 1rem;
    background-color: #ffffff;
    box-shadow: 10px 5px 10px grey;
}

.image-container {
    width: auto;
}


.spinner-overlay {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
