.form-item {
    display: flex;
    height: 4rem;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-right: 8px;
    padding-left: 8px;
}

.form-item__label {
    flex: 0 0 30%;
}

.form-item__controller {
    flex: 0 0 70%;
}

span.select__inner {
    vertical-align: baseline;
}
