@media screen and (max-width: 970px){
    .form-item__controller {
        flex: 0 0 100%;
    }
}

@media screen and (max-width: 970px){
    .form-item__label {
        display: flex;
        flex: 0 0 100%;
    }
}

@media screen and (max-width: 970px){
    .form-item {
        flex-wrap: wrap;
        border: 1px solid black;
        border-radius: 1rem;
        padding: 1rem 1rem 1rem 1rem;
    }
}

@media screen and (max-width: 600px){
    .main-container {
        width: 100% !important;
    }
}
