.spinner-container {
    display: flex;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 1rem;
    height: 4rem;
    width: auto;
    padding: 1rem 1rem 1rem 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
}

.spinner-container__label {
    margin-left: 1rem;
}
